@charset "UTF-8";

#jdocmanual-wrapper {
	height: 100vh;
	overflow-y: auto;
	min-height: 70vh;
	max-width: unset;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 900 ! important;
}

#toggle-joomla-menu {
	color: #fff;
	background-color: var(--template-bg-dark-60);
	cursor: pointer;
}

#jd-collapse {
	color: #fff;
}

#menu1001.main-nav {
	width: inherit;
}

#menu1001 .item a {
	min-height: 30px;
}

#menu1001 .item-level-2 > a {
	padding-inline-start: 1rem;
}

#menu1001 .item-level-3 > a {
	padding-inline-start: 2rem;
}

#jdocmanual-main {
	/*height: 70vh;
	overflow-y: auto;
	min-height: 70vh;*/
}

#document-panel {
	background-color: #fff;
}

#document-panel h1 {
	font-weight: 700;
	border-bottom: 1px solid navy;
	padding-top: 1rem;
}

#document-panel img {
	display: inline-block;
	max-width: 100%;
	height: auto;
}

.panel {
	padding: .5em;
}
p.ambox {
	margin: .5em 0 0 0;
}

.panel.ambox-tip {
	background-color: #bad0e3;
	border-color: #bad0e3;
}

.panel.ambox-serious {
	background-color: #FFBABA;
	border-color: #FFBABA;
}

.panel.ambox-notice {
	background-color: #CFF4FC;
	border-color: #B6EFFB;
}

.ambox-title {
	display: inline-block;
	vertical-align: middle;
	line-height: 1.2;
	margin-left: .25em;
}

#document-title {
	margin-bottom: 0;
	padding-top: 0.5rem;
}

.document-title {
	background-color: #fff;
	border-bottom: 1px solid navy;
	position: sticky;
	top: 0;
	z-index: 1;
}

#index-panel {
	position: sticky;
	top: 0;
	left: 0;
	height: 100vh;
	overflow-y: auto;
}

@media (min-width: 576px) {
	#index-panel {
		width: 200px;
	}

	#page-panel {
		width: calc(100% - 200px);
		max-width: calc(100% - 200px);
	}
}

@media (min-width: 768px) {
	#index-panel {
		width: 250px;
	}

	#page-panel {
		width: calc(100% - 250px);
		max-width: calc(100% - 250px);
	}
}

@media (min-width: 992px) {
	#index-panel {
		width: 250px;
	}
	#page-panel {
		width: calc(100% - 500px);
		max-width: calc(100% - 500px);
	}
	#toc-panel {
		background-color: #fff;
		border-left: 1px solid navy;
		box-sizing: border-box;
		font-size: 14px;
		line-height: 1.5;
		height: 100vh;
		position: sticky;
		top: 0;
		right: 0;
		z-index: 2;
		overflow-y: auto;
		padding-left: 0.5rem;
		width: 250px;
	}
}
.accordion-button {
	padding: 0.5rem 0.5rem ! important;
}

.accordion-button.collapsed, .accordion-button:not(.collapsed) {
	background-color: #eaf0f8 !important;
}

.jdocmanual-accordion-body {
	padding: 0.5rem 0.5rem 0.5rem 2rem;
}

.jdocmanual-accordion-body ul {
	list-style-type: none;
	margin-bottom: 0;
	padding-left: 0;
}

.jdocmanual-accordion-body li {
	margin-top: 0.25rem;
}

.icon-jdocmanual {
	margin-left: -1.5rem;
	padding-right: 0.5rem;
}

.toc-link {
	margin: 0 0 0.25rem 0;
	cursor: pointer;
	list-style-type: none;
}

.toc-link:hover {
	text-decoration: underline;
}

.toc-link-h3 {
	padding-left: 1rem;
}

div#toc-panel ul {
	padding-left: 0.5rem;
}

.jdocmanual-container {
	background-color: #fff;
}

.container-banner {
	margin: 0 !important;
}

.btn-toolbar {
	margin-bottom: 1rem;
}

blockquote{
  margin:50px auto;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 0.5em 75px;
  border-left:8px solid #CCCCCC ;
  line-height:1.6;
  position: relative;
  background:#f8f8f8;
}

blockquote::before{
  content: "\201C";
  color:#CCCCCC;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

.mw-highlight pre {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

pre {
  background-color: #f8f8f8;
  padding: 6px 10px;
  word-wrap: normal;
}

pre, code, source, tt {
  border: 1px solid #ddd;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  line-height: 19px;
}

.offcanvas.show {
  -webkit-transform: none;
  transform: none;
}

.offcanvas-start {
  border-right: 1px solid rgba(0,0,0,.2);
  left: 0;
  top: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  width: 400px;
}

.offcanvas-body {
  flex-grow: 1;
  overflow-y: auto;
  padding: 1rem;
}
.offcanvas {
  background-clip: padding-box;
  background-color: #fff;
  bottom: 0;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  outline: 0;
  position: fixed;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out;
  visibility: hidden;
  z-index: 1045;
}

.offcanvas-start {
  width: 350px !important;
}

.update-ok {
	background-color: #eeffee !important;
	background-image: url(tick-12.png) !important;
	background-repeat: no-repeat !important;
	background-position: 95% 0 !important;
	border-color: #009900 !important;
}

.update-dud {
	background-color: #ffeeee !important;
	background-image: url(cross-12.png) !important;
	background-repeat: no-repeat !important;
	background-position: 95% 0 !important;
	border-color: #990000 !important;
}